<div class="dashboard">
  <div class="title-container">
    <h2>Dashboard</h2>
    <a href="/posts/add" class="btn">Criar Post</a>
  </div>
  <h3>Seus posts:</h3>
  <div class="posts-container">
    {{#each posts}}
      <div class="container">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-text">Título: {{this.title}}</h5>
            <p class="card-text">Descrição: {{this.description}}</p>
          </div>
          <div class="card-bottom">
            <div class="form-control-btns">
              <a href="/posts/edit/{{this.id}}" class="btn">Editar</a>
              <form action="/posts/remove" method="POST">
                <input type="hidden" name="id" value="{{this.id}}" />
                <input type="submit" value="Excluir" class="btn" />
              </form>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  {{#if emptyPosts}}
    <p>Ainda não há nenhum pensamento cadastrado, crie o seu
      <a href="/posts/add">clicando aqui</a></p>
  {{/if}}
</div>